<ol class="am-breadcrumb">
    <li><a href="#">Deploy Spring APP</a></li>
    <li class="am-active">发布</li>
</ol>


<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> 项目发布
        </div>
    </div>
    <div class="tpl-block ">
        <div class="am-g tpl-amazeui-form">
            <div class="am-u-sm-12 am-u-md-9">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="env" class="am-u-sm-3 am-form-label">环境</label>
                        <div class="am-u-sm-9">
                            <select id="env">
                                <option value="test">测试发布</option>
                                <option value="staging">预发布</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="project" class="am-u-sm-3 am-form-label">项目组</label>
                        <div class="am-u-sm-9">
                            <select id="project">
                                <option value="-1">请选择</option>
                                <option value="rrjk">人人金控</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="project" class="am-u-sm-3 am-form-label">项目</label>
                        <div class="am-u-sm-9">
                            <select id="project">
                                <option value="-1">请选择</option>
                                <option value="rrjk">人人金控</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="branch" class="am-u-sm-3 am-form-label">发布环境</label>
                        <div class="am-u-sm-9">
                            <select id="project">
                                <option value="-1">请选择</option>
                                <option value="rrjk">人人金控</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="tag" class="am-u-sm-3 am-form-label">发布版本</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="tag" placeholder="Tag">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary">发布</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        $("#proj_g").change(function () {
            $.ajax({
                type: "GET",
                url: "/api/dep/git/get_proj_n?type=2&proj_g=" + $("#proj_g").val(),
                data: {},
                dataType: "text",
                success: function (data) {
                    var result = eval(data);
                    $("#proj_n").empty();
                    $("#proj_n").append('<option value="-1">请选择</option>');
                    $.each(result, function (index, value) {
                        $("#proj_n").append('<option value="' + value + '">' + value + '</option>');
                    });
                },
                error: function (XMLResponse) {
                    alert("error" + XMLResponse.responseText)
                }
            });
        });
        $("#proj_n").change(function () {
            $.ajax({
                type: "GET",
                url: "/api/dep/git/get_proj_dp?proj_g=" + $("#proj_g").val() + "&proj_n=" + $("#proj_n").val() + "&env=" + $("#env").val(),
                data: {},
                dataType: "text",
                success: function (data) {
                    var result = eval(data);
                    $("#proj_dp").empty();
                    $.each(result, function (index, value) {
                        $("#proj_dp").append('<option value="' + value + '">' + value + '</option>');
                    });
                },
                error: function (XMLResponse) {
                    alert("error" + XMLResponse.responseText)
                }
            });
        });

        $("#kick").click(function () {
            var answer = confirm($("#proj_n").val() + "\n" + "\n" + $("#commit").val() + "\nare you sure")
            if (answer) {
                $.ajax({
                    type: "GET",
                    url: "/api/dep/git/deploy_sc_dep?proj_g=" + $("#proj_g").val() + "&env=" + $("#env").val() + "&proj_n=" + $("#proj_n").val() + "&proj_dp=" + $("#proj_dp").val() + "&commit=" + $("#commit").val(),
                    data: {},
                    dataType: "text",
                    success: function (result) {
                        $("#info").html(result);
                    },
                    error: function (XMLResponse) {
                        alert("error" + XMLResponse.responseText)
                    }
                });
            }
        });
        $("#look").click(function () {
            var answer = true
            if (answer) {
                $.ajax({
                    type: "GET",
                    url: "/api/dep/git/view_k8s_pods?proj_g=" + $("#proj_g").val() + "&env=" + $("#env").val() + "&proj_n=" + $("#proj_n").val() + "&proj_dp=" + $("#proj_dp").val(),
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        var content = generatorHtml(result);
                        $("#info").html(content);
                    },
                    error: function (XMLResponse) {
                        alert("error" + XMLResponse.responseText)
                    }
                });
            }
        });
    });

    function generatorHtml(result) {
        var content = "";
        content += '<table class="table table-bordered dataTable" id="dataTable" width="300px"  cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">';
        content += '<thead>';
        content += '<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 216px;">containerstatus</th>';
        content += '<th  tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 326px;">name</th>';
        content += '<th  tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 157px;">image</th>';
        content += '<th  tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 78px;">Ready</th>';
        content += '<th  tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 152px;">Initialized</th>';
        content += '<th  tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 125px;">PodScheduled</th>';
        content += '<th  tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 125px;">createtime</th>';
        content += '</tr>';
        content += '</thead>';
        $.each(result, function (idx, obj) {
                content += '<tr role="row" class="odd">';
                content += '<td class="sorting_1">';
                content += obj.containerstatus;
                content += '</td>';
                content += '<td class="sorting_1">';
                content += obj.name;
                content += '</td>';
                content += '<td class="sorting_1">';
                content += obj.image;
                content += '</td>';
                content += '<td class="sorting_1">';
                content += obj.Ready;
                content += '</td>';
                content += '<td class="sorting_1">';
                content += obj.Initialized;
                content += '</td>';
                content += '<td class="sorting_1">';
                content += obj.PodScheduled;
                content += '</td>';
                content += '<td class="sorting_1">';
                content += obj.createtime;
                content += '</td>';
                content += '</tr>'
            }
        );
        content += "</table>";
        return content;
    };

</script>
