<ol class="am-breadcrumb">
    <li><a href="#">Task管理</a></li>
    <li class="am-active">添加脚本<li>
</ol>
<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> 脚本添加
        </div>
    </div>
    <div class="tpl-block ">
        <div class="am-g tpl-amazeui-form">
            <div class="am-u-sm-8 am-u-md-10">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="computer-ssh-port" class="am-u-sm-2 am-form-label">标签</label>
                        <div class="am-u-sm-10">
                            <select id="computer-type">
                                <option value="option1">Shell</option>
                                <option value="option2">Python</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="computer-ip" class="am-u-sm-2 am-form-label">备注</label>
                        <div class="am-u-sm-10">
                            <input type="text" id="computer-ip" placeholder="备注">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="computer-remark" class="am-u-sm-2 am-form-label">命令</label>
                        <div class="am-u-sm-10">
                            <textarea class="" rows="13" id="computer-remark" placeholder="命令"></textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>