<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DevOps</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../static/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../static/css/admin.css">
    <link rel="stylesheet" href="../static/css/app.css">
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block tpl-login-max">

        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                DevOps<span> Login</span> <i class="am-icon-skyatlas"></i>
            </div>
        </div>

        {% if error_msg %}
            <div class="login-font">
                <i class="font-red">{{ error_msg }}</i>
            </div>
        {% endif %}

        <div class="am-u-sm-10 login-am-center">
            <form class="am-form">
                <fieldset>
                    <div class="am-form-group">
                        <input type="email" id="email" placeholder="输入邮箱地址">
                    </div>
                    <div class="am-form-group">
                        <input type="password" id="password" placeholder="输入密码">
                    </div>
                    <p>
                        <button id="submitBtn" type="button" class="am-btn am-btn-default">登录</button>
                    </p>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/amazeui.min.js"></script>
<script src="../static/js/app.js"></script>
<script>
    $("#submitBtn").click(function () {
        let email = $("#email").val();
        let password = $("#password").val();
        if (!/^[a-zA-Z1-9.]+@renren-inc.com+$/.test(email)) {
            $("#email").focus();
            alert("请输入正确的邮箱地址，邮箱地址以renren-inc.com结尾");
        }

        if (password.length < 8 || password > 20) {
            $("#email").focus();
            alert("请输入正确的密码，密码必须大于等于8位，小于等于20位");
        }
    })
</script>
</body>

</html>