{% load staticfiles %}
<ol class="am-breadcrumb">
    <li><a href="#">微服务</a></li>
    <li><a href="#">服务设置</a></li>
</ol>

<div class="row">
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="am-icon-comments-o"></i>
            </div>
            <div class="details">
                <div class="number"> {{ application_size }} </div>
                <div class="desc"> 总服务数</div>
            </div>
            <a class="more" href="#"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat red">
            <div class="visual">
                <i class="am-icon-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number"> {{ instance_size }} </div>
                <div class="desc"> 总实例数</div>
            </div>
            <a class="more" href="#"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="am-icon-apple"></i>
            </div>
            <div class="details">
                <div class="number"> 2</div>
                <div class="desc"> 故障次数</div>
            </div>
            <a class="more" href="#"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="am-icon-android"></i>
            </div>
            <div class="details">
                <div class="number"> 105</div>
                <div class="desc"> 迭代次数</div>
            </div>
            <a class="more" href="#"> 查看更多
                <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="am-u-md-12 am-u-sm-12 row-mb">
        <button type="button" class="add_micro_server am-btn am-btn-primary" data-show="0"><i class="am-icon-plus am-icon-fw"></i>添加服务(Eureka)</button>

        <div id="add_micro_project_dialog" style="margin-top: 20px;display: none;">
            <div class="tpl-portlet">
                <div class="tpl-portlet-title">
                    <div class="tpl-caption font-green ">
                        <i class="am-icon-cloud-download"></i>
                        <span> Cloud 服务添加</span>
                    </div>
                </div>

                <div class="tpl-scrollable" style="min-height: 150px;">
                    <div id="wrapper" class="wrapper" style="height: 290px;">
                        <div id="scroller" class="scroller">
                            <form class="am-form am-form-horizontal">
                                <div class="am-form-group">
                                    <label for="projectName" class="am-u-sm-2 am-form-label">项目名称</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="m_projectName" placeholder="输入你的项目名称">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="projectURL" class="am-u-sm-2 am-form-label">项目地址（EUREKA）</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="m_projectURL" placeholder="输入你的项目地址">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="manager" class="am-u-sm-2 am-form-label">负责人</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="m_manager" placeholder="输入项目负责人">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="email" class="am-u-sm-2 am-form-label">监控邮件</label>
                                    <div class="am-u-sm-10">
                                        <input type="email" id="m_email" placeholder="输入你的电子邮件">
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-2 am-u-sm-offset-4">
                                        <button type="button" class="add_micro_server am-btn am-btn-default">取消添加</button>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <button type="button" id="m_add_micro_server_confirm" class="am-btn am-btn-success">确认添加</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="am-u-md-12 am-u-sm-12 row-mb">
        <div class="tpl-portlet">
            <div class="tpl-portlet-title">
                <div class="tpl-caption font-green ">
                    <i class="am-icon-cloud-download"></i>
                    <span> Cloud 数据统计</span>
                </div>
            </div>

            <div class="tpl-scrollable">
                <div class="number-stats">
                    <div class="stat-number am-fl am-u-md-6">
                        <div class="title am-text-right">Now Total</div>
                        <div class="number am-text-right am-text-warning"> 5</div>
                    </div>
                    <div class="stat-number am-fr am-u-md-6">
                        <div class="title">History Total</div>
                        <div class="number am-text-success"> 8</div>
                    </div>
                </div>
                <div id="wrapper" class="wrapper">
                    <div id="scroller" class="scroller">
                        <table class="am-table tpl-table">
                            <thead>
                                <tr class="tpl-table-uppercase">
                                    <th>项目</th>
                                    <th>负责人</th>
                                    <th>调用次数</th>
                                    <th>成功率</th>
                                    <th>详细</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for record in records %}
                                <tr>
                                    <td>{{ record.app }}</td>
                                    <td>
                                        <img src="{% static 'img/zyndev.png' %}" alt="" class="user-pic">
                                        <a class="user-name" href="###">{{ record.manager }}</a>
                                    </td>
                                    <td>1250</td>
                                    <td class="font-green bold">80%</td>
                                    <td>{{ record.eureka_url }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>